{% extends "stream3d/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %}
  {% url 'stream3d:home' as home_url %}
  <li class="{% if request.path == home_url %}active{% endif %}"><a href="{{ home_url }}">
    <button type="button" class="btn btn-primary" style = "width:100%"> Go Back</button>
  </a></li>
{% endblock %}

{% block app_content %}
<h1>App Use</h1>
<p>The app lets the user to choose the different countries using a search bar or a dropdown menu according to the
preference of the user, so the map can be center in selected country. After the map is zoom and center ina country
the following can be done:</p>
<ul>
  <li> Stream Return Period Animation </li>
  <p>The app shows the different streams from the world and it can be animated to show how does the different streams
    forecast change with time as time goes forward.The different colors of the animation represent the return periods:
    Yellow(20 yr), Orange(50 yr), and Red (100 yr). In addition, the app can be manually animated with the slide bar, that is on
    bottom of the map. Finally, it can be stopp it any time during the animation with the stop button.
  </p>
  <li>Hydrological, urban damage, affected GDP, and affected population Data </li>
  <p>
    The app is also able to show graphs for the forecast, historical and flow rate curve for the different reaches of a given stream
    by clicking on a reach. The app will display the data using a graphing library. In addition, data will dsiplay the data given by the
    Aquaduct GLobal Flood Risk Map of the World Reource Institute(WRI). This data can be visualized, so the percetages of how the climate
    change and socioeconomic factors influence the urban damage, GDP, and population of the given country.
  </p>
</ul>



{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
<!-- Example Modal -->
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="help-modal-label">Instructions</h5>
      </div>
      <div class="modal-body">
        <h1>App Use</h1>
        <p>The app lets the user to choose the different countries using a search bar or a dropdown menu according to the
        preference of the user, so the map can be center in selected country. After the map is zoom and center ina country
        the following can be done:</p>
        <ul>
          <li> Stream Return Period Animation </li>
          <p>The app shows the different streams from the world and it can be animated to show how does the different streams
            forecast change with time as time goes forward.The different colors of the animation represent the return periods:
            Yellow(20 yr), Orange(50 yr), and Red (100 yr). In addition, the app can be manually animated with the slide bar, that is on
            bottom of the map. Finally, it can be stopp it any time during the animation with the stop button.
          </p>
          <li>Hydrological, urban damage, affected GDP, and affected population Data </li>
          <p>
            The app is also able to show graphs for the forecast, historical and flow rate curve for the different reaches of a given stream
            by clicking on a reach. The app will display the data using a graphing library. In addition, data will dsiplay the data given by the
            Aquaduct GLobal Flood Risk Map of the World Reource Institute(WRI). This data can be visualized, so the percetages of how the climate
            change and socioeconomic factors influence the urban damage, GDP, and population of the given country.
          </p>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block app_actions %}

{% endblock %}

{% block styles %}
  {{ block.super }}
{% endblock %}

{% block scripts %}
{{ block.super }}


{% endblock %}
