{% extends "stream3d/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %}
  <h3>Choose the Country</h3>
  <p>Select a country to visualize using the dropdown or the search box to find the country that yu want. Once the
    country is selected the map will change to show the country and the different countries will be painted black
  </p>
  <!-- <li class="active"><a href="">Use dropdown</a></li> -->
  <button type="button" class="btn btn-primary" style = "width:100%">Use Dropdown</button>
  <br></br>
  <select  id='countryList'>  </select>
  <br></br>
  <button type="button" class="btn btn-primary" style = "width:100%">Look Country in the Search Box</button>


  <!--Make sure the form has the autocomplete function switched off:-->
  <form autocomplete="off" action="/action_page.php">
    <div class="autocomplete" style="width:300px;">
      <input id="myInput" type="text" name="myCountry" placeholder="Type Country">
    </div>
  </form>

  <h3>Streams Animation<h3>
  <p>The Leaflet Esri animation of the global streams can be animated with the following buttons.</p>
  <div id="AllRelatedTime">
    <p id="CurrentTimeExtent"> </p>
    <div id = "buttonsAnimation">
      <div class = "butts">
        <button type="button" class="btn btn-info" id="startSlider"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
      </div>
      <div class = "butts">
        <button type="button" class="btn btn-info" id="stopSlider"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
      </div>
    </div>
    <p id="actualDate"> </p>
  </div>


  <!-- <button type="button" class="btn btn-primary" style = "margin-bottom:5%">SPPs Global Expectance Population (s)</button> -->
  <h3>SPPs Models</h3>
  <p> Choose the population model to see the a wms layer that contains the expected population for year 2030 for the given
  model (SSP2 or SSP3 models)</p>
  <select class="selectpicker" data-style="btn-info" data-width="100%" id= "SSPmodel">
    <option> No Model SSPSs Model </option>
    <option> SSP2 Population Projection for 2030 </option>
    <option> SSP3 Population Projection for 2030</option>
  </select>


  {% url 'stream3d:home' as home_url %}
  <li class="{% if request.path == home_url %}active{% endif %}" style = "margin-top: 20%"><a href="{{ home_url }}">
    <button type="button" class="btn btn-primary" style = "width:100%"> Go Back</button>
  </a></li>

{% endblock %}

{% block app_content %}


<!-- <div id="map_graphs_container"> -->
  <div id='map'></div>
  <div id="flood_risk">
    <div id= "infoRisk">
      <h3>Flood Risk Curve
        <select id="affectedVariable" class="selectpicker" data-style = "btn-primary" data-width="fit">
          <option> Affected GDP</option>
          <option>Urban Damage</option>
          <option> Affected Population</option>
        </select>

      </h3>
      <p>The datasets in these maps include current and future river
        flood risk estimates in urban damage, affected GDP, and affected population by country,
        river basin, and state. Each one of the Datasets can be accesed through the dropdown menu that
        contains the three different options (GDP, urban damagem, affected population).In addition, the slide
        range bar can be used to change the flood protection level.Flood protection level describes how well protected any
        given area is against flood damage.For example, a 500-year flood protection system protects an area against anything equal to or smaller than a 500-year flood.
        A 500-year system is more robust, and therefore provides better protection, than a 100-year flood protection system.</p>


    </div>
    <div id="dataFlood">
      <h3>Protection Return Periods</h3>
      <div id="plots"> </div>

      <input
        type="range"
        min="0"
        max="80"
        step="10"
        value="0"
        data-orientation="horizontal"
      >
      <output class= "myOutputs">2-year Protection</output>
      <br>
      <p> There are different kinds of flood protection systems, including dams, levees, and so on, and each
      system can have different protection standards or capacities. <em>Select your Flood Protection Level</em></p>

      <!-- <canvas id="plots"></canvas> -->

    </div>
    <div id="affectedMoney">
      <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <h3>RCP 4.5 and SSP2 Model</h3>
            <div id="ScenarioA" class= "Scenarios">
              <div class="ExpectedAvoidedDamage">
                <div class="exavod">
                  <p>Annual Expected Damage: </p>
                  <p id = "valueDamageA" class= "myOutputs1"> 0.0</p>
                </div>
                <div class="exavod">
                  <p>Annual Avoided Damage </p>
                  <p id = "valueAvoidA" class= "myOutputs1"> 0.0</p>
                </div>
              </div>
              <div class="ModelsValGraphs">
                <div class="ModelVals">
                  <p>Current Anual Expected Affected</p>
                  <p id = "currentAnualExpectedA" class= "myOutputs"> None</p>
                  <p> Increased Impact Due to Socio-economic Change</p>
                  <p id = "SocioIncreaseA" class= "myOutputs">None </p>
                  <p> Increased Impact Due to Climate Change</p>
                  <p id = "ClimateChangeA" class= "myOutputs">None</p>
                  <p> 2030 Annual Expected Affected</p>
                  <p id="2030AnnualA" class= "myOutputs"> None</p>
                </div>
                <div id="ModelGraphA" class="ModelGraphs">

                </div>
              </div>

            </div>
          </div>

          <div class="item">
            <h3>RCP 8.5 and SSP2 Model</h3>
            <div id="ScenarioB" class= "Scenarios">
              <div class="ExpectedAvoidedDamage">
                <div class="exavod">
                  <p>Annual Expected Damage </p>
                  <p id = "valueDamageB" class= "myOutputs1"> 0.0</p>
                </div>
                <div class="exavod">
                  <p>Annual Avoided Damage </p>
                  <p id = "valueAvoidB" class= "myOutputs1"> 0.0</p>
                </div>
              </div>
              <div class="ModelsValGraphs">
                <div class="ModelVals">
                  <p>Current Anual Expected Affected</p>
                  <p id = "currentAnualExpectedB" class= "myOutputs">None</p>
                  <p> Increased Impact Due to Socio-economic Change</p>
                  <p id = "SocioIncreaseB" class= "myOutputs">None</p>
                  <p> Increased Impact Due to Climate Change</p>
                  <p id = "ClimateChangeB" class= "myOutputs">None</p>
                  <p> 2030 Annual Expected Affected </p>
                  <p id="2030AnnualB" class= "myOutputs">None </p>
                </div>
                <div id="ModelGraphB" class="ModelGraphs">

                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <h3>RCP 8.5 and SSP3 Model</h3>
            <div id="ScenarioC" class= "Scenarios">
              <div class="ExpectedAvoidedDamage">
                <div class="exavod">
                  <p>Annual Expected Damage </p>
                  <p id = "valueDamageC" class= "myOutputs1"> 0.0</p>

                </div>
                <div class="exavod">
                  <p>Annual Avoided Damage </p>
                  <p id = "valueAvoidC" class= "myOutputs1"> 0.0</p>

                </div>
              </div>
              <div class="ModelsValGraphs">
                <div class="ModelVals">
                  <p>Current Anual Expected Affected</p>
                  <p id = "currentAnualExpectedC" class= "myOutputs">None</p>
                  <p> Increased Impact Due to Socio-economic Change</p>
                  <p id = "SocioIncreaseC" class= "myOutputs">None</p>
                  <p> Increased Impact Due to Climate Change</p>
                  <p id = "ClimateChangeC" class= "myOutputs">None</p>
                  <p> 2030 Annual Expected Affected GDP</p>
                  <p id="2030AnnualC" class= "myOutputs"> None</p>
                </div>
                <div id="ModelGraphC" class="ModelGraphs">

                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>






    </div>
  </div>
<!-- </div> -->


{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/javascript/#modals">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-toggle</code>, <code>data-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block app_actions %}

{% endblock %}

{% block styles %}
  {{ block.super }}
{% endblock %}

{% block scripts %}
{{ block.super }}


{% endblock %}
